.divA {
    background-color: #ffbf76;
    width: 500px;
    height: 500px;
}

.divB {
    background-color: #a3ffa3;
    width: 50%;
    height: 50%;
}

.divC {
    color: white;
    background-color: #f12805;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

.divD {
    width: 50%;
    height: 50vh;
    background-color: rgb(178, 236, 255);
}

.divE {
    width: 75vw;
    height: 50%;
    background-color: rgb(255, 0, 0);
}
